<div class="container border">
  <div class="row">
    <div class="col-sm-2">Username:<strong>{{user.username}}</strong></div>
    <div class="col-sm-2">Role:<strong>{{roles[user.role]}}</strong></div>
    <div class="col-sm-4">Timezones added:<strong>{{userZones}}</strong></div>
    <div class="col-sm-4">
      <button class="btn btn-warning"
              (click)="onDetails()">Details</button>
      <button class="btn btn-danger"
              [disabled]="isCurrentUser"
              (click)="onDelete()">Delete</button>
    </div>
  </div>
</div>
