<div *ngIf="!editMode" class="container">
  <div class="row">
    <div class="col-sm-2">{{model.name}}</div>
    <div class="col-sm-2">{{model.city}}</div>
    <div class="col-sm-2">{{''+model.offset}}</div>
    <div class="col-sm-6">
      <button class="btn btn-primary"
              (click)="onEdit()">Edit</button>
      <button class="btn btn-danger"
              (click)="onDelete()">Delete</button>
    </div>
  </div>
</div>

<div *ngIf="editMode" class="container">
  <div class="row">
    <div class="col-sm-2">
      <input type="text"
             class="form-control" id="name"
             name="Username" placeholder="Zone name"
             [(ngModel)]="model.name"
             required="" autofocus="" />
    </div>
    <div class="col-sm-2">
      <input type="text"
             class="form-control" id="city"
             name="Username" placeholder="City"
             [(ngModel)]="model.city"
             required="" autofocus="" />
    </div>
    <div class="col-sm-2">
      <input type="text"
             class="form-control" id="offset"
             name="Username" placeholder="offset"
             [(ngModel)]="model.offset"
             required="" autofocus="" />
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success"
              (click)="onSave()">Save</button>
    </div>
  </div>
</div>
