<div *ngIf="!editMode" class="container">
  <div class="row">
    <div class="col-sm-12">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">{{model.name}}</legend>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">City: {{model.city}}</div>
            <div class="col-sm-3">Time in location: {{zoneTime}}</div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
              <button class="btn btn-primary"
                      (click)="onEdit()">Edit</button>
              <button class="btn btn-danger"
                      (click)="onDelete()">Delete</button>
            </div>
          </div>
        </div>

      </fieldset>
    </div>
  </div>
</div>

<div *ngIf="editMode" class="container border">
  <div class="row">
    <div class="col-sm-4">
      <label for="name">Timezone name:</label>
      <input type="text"
             class="form-control" id="name"
             name="Username" placeholder="Zone name"
             [(ngModel)]="model.name"
             required="" autofocus="" />
    </div>
    <div class="col-sm-2">
      <label for="city">City:</label>
      <input type="text"
             class="form-control" id="city"
             name="Username" placeholder="City"
             [(ngModel)]="model.city"
             required="" autofocus="" />
    </div>
    <div class="col-sm-2">
      <label for="offset">Offset:</label>
      <input type="text"
             class="form-control" id="offset"
             name="Username" placeholder="offset"
             [(ngModel)]="model.offset"
             required="" autofocus="" />
    </div>
    <div class="col-sm-4 center-block" style="height: 100%;">
      <button class="btn btn-success" style="position:relative; top:15px;"
              (click)="onSave()">Save</button>
    </div>
  </div>
</div>
